# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
lib/
lib64/
parts/
sdist/
wheels/
share/python-wheels/
.installed.cfg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

.idea/
.vscode/

.DS_Store


dist/
featureprobe_server_sdk_python.egg-info/

docs/_build