name: "Build & Tests"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python 3.5
        uses: actions/setup-python@v2
        with:
          python-version: '3.5'

      - name: Install dependencies
        run: |
          pip install pytest pytest-cov
          pip install -r requirements.txt

      - name: Run tests and collect coverage
        run: pytest --cov featureprobe

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
